[submodule "pmm-client"]
	path = sources/pmm-client/src/github.com/percona/pmm-client
	url = https://github.com/percona/pmm-client.git
	branch = master
[submodule "qan-agent"]
	path = sources/qan-agent/src/github.com/percona/qan-agent
	url = https://github.com/percona/qan-agent.git
	branch = master
[submodule "node_exporter"]
	path = sources/node_exporter/src/github.com/prometheus/node_exporter
	url = https://github.com/percona/node_exporter.git
	branch = master
[submodule "mysqld_exporter"]
	path = sources/mysqld_exporter/src/github.com/percona/mysqld_exporter
	url = https://github.com/percona/mysqld_exporter.git
	branch = master
[submodule "mongodb_exporter"]
	path = sources/mongodb_exporter/src/github.com/percona/mongodb_exporter
	url = https://github.com/percona/mongodb_exporter.git
	branch = master
[submodule "proxysql_exporter"]
	path = sources/proxysql_exporter/src/github.com/percona/proxysql_exporter
	url = https://github.com/percona/proxysql_exporter.git
	branch = master
[submodule "percona-toolkit"]
	path = sources/percona-toolkit/src/github.com/percona/percona-toolkit
	url = https://github.com/percona/percona-toolkit.git
	branch = release-3.0.8
[submodule "pmm-manage"]
	path = sources/pmm-manage/src/github.com/percona/pmm-manage
	url = https://github.com/percona/pmm-manage
	branch = master
[submodule "pmm-managed"]
	path = sources/pmm-managed/src/github.com/percona/pmm-managed
	url = https://github.com/percona/pmm-managed
	branch = master
[submodule "qan-api"]
	path = sources/qan-api/src/github.com/percona/qan-api
	url = https://github.com/percona/qan-api
	branch = master
[submodule "qan-app"]
	path = sources/qan-app/src/github.com/percona/qan-app
	url = https://github.com/percona/qan-app
	branch = master
[submodule "pmm-update"]
	path = sources/pmm-update
	url = https://github.com/percona/pmm-update
	branch = master
[submodule "pmm-server"]
	path = sources/pmm-server
	url = https://github.com/percona/pmm-server
	branch = master
[submodule "pmm-server-packaging"]
	path = sources/pmm-server-packaging
	url = https://github.com/percona/pmm-server-packaging
	branch = master
[submodule "grafana-dashboards"]
	path = sources/grafana-dashboards
	url = https://github.com/percona/grafana-dashboards
	branch = PMM-2154-Build-Dashboard-for-MySQL-Command-Counters 
[submodule "rds_exporter"]
	path = sources/rds_exporter/src/github.com/percona/rds_exporter
	url = https://github.com/percona/rds_exporter
	branch = master
