# PMM Client

[submodule "pmm-admin"]
	path = sources/pmm-admin/src/github.com/percona/pmm-admin
	url = https://github.com/percona/pmm-admin.git
	branch = master
[submodule "pmm-agent"]
	path = sources/pmm-agent/src/github.com/percona/pmm-agent
	url = https://github.com/percona/pmm-agent.git
	branch = master
[submodule "node_exporter"]
	path = sources/node_exporter/src/github.com/prometheus/node_exporter
	url = https://github.com/percona/node_exporter.git
	branch = master
[submodule "mysqld_exporter"]
	path = sources/mysqld_exporter/src/github.com/percona/mysqld_exporter
	url = https://github.com/percona/mysqld_exporter.git
	branch = master
[submodule "mongodb_exporter"]
	path = sources/mongodb_exporter/src/github.com/percona/mongodb_exporter
	url = https://github.com/percona/mongodb_exporter.git
	branch = 0.8.0
[submodule "postgres_exporter"]
	path = sources/postgres_exporter/src/github.com/percona/postgres_exporter
	url = https://github.com/percona/postgres_exporter
	branch = master
[submodule "clickhouse_exporter"]
	path = sources/clickhouse_exporter/src/github.com/f1yegor/clickhouse_exporter
	url = https://github.com/f1yegor/clickhouse_exporter
	branch = master
[submodule "proxysql_exporter"]
	path = sources/proxysql_exporter/src/github.com/percona/proxysql_exporter
	url = https://github.com/percona/proxysql_exporter.git
	branch = master
[submodule "rds_exporter"]
	path = sources/rds_exporter/src/github.com/percona/rds_exporter
	url = https://github.com/percona/rds_exporter
	branch = master
[submodule "percona-toolkit"]
	path = sources/percona-toolkit/src/github.com/percona/percona-toolkit
	url = https://github.com/percona/percona-toolkit.git
	branch = release-3.0.10


# PMM Server

[submodule "pmm"]
	path = sources/pmm/src/github.com/percona/pmm
	url = https://github.com/percona/pmm
	branch = PMM-2.0
[submodule "pmm-manage"]
	path = sources/pmm-manage/src/github.com/percona/pmm-manage
	url = https://github.com/percona/pmm-manage
	branch = PMM-2.0
[submodule "pmm-managed"]
	path = sources/pmm-managed/src/github.com/percona/pmm-managed
	url = https://github.com/percona/pmm-managed
	branch = PMM-4338-enable-auth
[submodule "qan-api2"]
	path = sources/qan-api2/src/github.com/percona/qan-api2
	url = https://github.com/percona/qan-api2
	branch = master
[submodule "qan-app"]
	path = sources/qan-app/src/github.com/percona/qan-app
	url = https://github.com/percona/qan-app
	branch = PMM-2.0
[submodule "pmm-update"]
	path = sources/pmm-update
	url = https://github.com/percona/pmm-update
	branch = PMM-2.0
[submodule "pmm-server"]
	path = sources/pmm-server
	url = https://github.com/percona/pmm-server
	branch = PMM-2.0
[submodule "pmm-server-packaging"]
	path = sources/pmm-server-packaging
	url = https://github.com/percona/pmm-server-packaging
	branch = PMM-2.0
[submodule "grafana-dashboards"]
	path = sources/grafana-dashboards
	url = https://github.com/percona/grafana-dashboards
	branch = PMM-2.0
[submodule "pid-watchdog"]
	path = sources/pid-watchdog/src/github.com/percona/pid-watchdog
	url = https://github.com/percona/pid-watchdog
	branch = master
[submodule "percona-images"]
	path = sources/percona-images
	url = https://github.com/Percona-Lab/percona-images
	branch = master
