[submodule "pmm-client"]
	path = sources/pmm-client/src/github.com/percona/pmm-client
	url = https://github.com/percona/pmm-client.git
	branch = master
[submodule "qan-agent"]
	path = sources/qan-agent/src/github.com/percona/qan-agent
	url = https://github.com/percona/qan-agent.git
	branch = master
[submodule "node_exporter"]
	path = sources/node_exporter/src/github.com/prometheus/node_exporter
	url = https://github.com/percona/node_exporter.git
	branch = pmm-1.X
[submodule "clickhouse_exporter"]
        path = sources/clickhouse_exporter/src/github.com/f1yegor/clickhouse_exporter
        url = https://github.com/f1yegor/clickhouse_exporter.git
        branch = master
[submodule "mysqld_exporter"]
	path = sources/mysqld_exporter/src/github.com/percona/mysqld_exporter
	url = https://github.com/percona/mysqld_exporter.git
	branch = pmm-1.X
[submodule "mongodb_exporter"]
	path = sources/mongodb_exporter/src/github.com/percona/mongodb_exporter
	url = https://github.com/percona/mongodb_exporter.git
	branch = pmm-1.X
[submodule "proxysql_exporter"]
	path = sources/proxysql_exporter/src/github.com/percona/proxysql_exporter
	url = https://github.com/percona/proxysql_exporter.git
	branch = pmm-1.X
[submodule "percona-toolkit"]
	path = sources/percona-toolkit/src/github.com/percona/percona-toolkit
	url = https://github.com/percona/percona-toolkit.git
	branch = release-3.0.10
[submodule "pmm-manage"]
	path = sources/pmm-manage/src/github.com/percona/pmm-manage
	url = https://github.com/percona/pmm-manage
	branch = master
[submodule "pmm-managed"]
	path = sources/pmm-managed/src/github.com/percona/pmm-managed
	url = https://github.com/percona/pmm-managed
	branch = PMM-2.0 
[submodule "qan-api"]
	path = sources/qan-api/src/github.com/percona/qan-api
	url = https://github.com/percona/qan-api
	branch = master
[submodule "qan-app"]
	path = sources/qan-app/src/github.com/percona/qan-app
	url = https://github.com/percona/qan-app
	branch = master
[submodule "pmm-update"]
	path = sources/pmm-update
	url = https://github.com/percona/pmm-update
	branch = PMM-3176-Remove-Prometheus-1.x
[submodule "pmm-server"]
	path = sources/pmm-server
	url = https://github.com/percona/pmm-server
	branch = PMM-2911-PMM-with-Clickhouse
[submodule "pmm-server-packaging"]
	path = sources/pmm-server-packaging
	url = https://github.com/percona/pmm-server-packaging
	branch = PMM-2912-Grafana-5.3.2
[submodule "grafana-dashboards"]
	path = sources/grafana-dashboards
	url = https://github.com/percona/grafana-dashboards
	branch = PMM-3301-Prometheus-2.5
[submodule "rds_exporter"]
	path = sources/rds_exporter/src/github.com/percona/rds_exporter
	url = https://github.com/percona/rds_exporter
	branch = pmm-1.X
[submodule "postgres_exporter"]
	path = sources/postgres_exporter/src/github.com/percona/postgres_exporter
	url = https://github.com/percona/postgres_exporter
	branch = pmm-1.X
[submodule "pid-watchdog"]
	path = sources/pid-watchdog/src/github.com/percona/pid-watchdog
	url = https://github.com/percona/pid-watchdog
	branch = master
